## Visual studio
**/Projects/VisualStudio/**/[Dd]ebug
**/Projects/VisualStudio/**/[Rr]elease
**/Projects/VisualStudio/**/x64
**/Projects/VisualStudio/**/x86
**/Projects/VisualStudio/**/*.db
**/Projects/VisualStudio/**/*.opendb
**/Projects/VisualStudio/**/*.user
**/Projects/VisualStudio/**/.vs

## Builds
**/Builds/